{% extends "base.html" %}

{% block header %}Prompt Form{% endblock %}

{% block content %}
<!-- Not using required keyword for testing api purposes -->
<!-- Would also use select elements instead of text input for practical usage -->
<form id="prompt_form" method="POST">
  <label for="situation">Situation</label>
  <input id="situation" name="situation" />
  <label for="level">Level</label>
  <input id="level" name="level" />
  <label for="file_type">File Type</label>
  <input id="file_type" name="file_type" />
  <label for="data">Data</label>
  <input id="data" name="data" />
  <button type="submit">Submit prompt</button>
</form>
<p id="result"></p>


<script>
  document.getElementById("prompt_form").addEventListener("submit", async (e) => {
    e.preventDefault();
    // Although form data can be passed using FormData object, 
    // "data" could be any type in usage (unspecified in description)
    const formData = {
      "situation": e.target.situation.value,
      "level": e.target.level.value,
      "file_type": e.target.file_type.value,
      "data": e.target.data.value,
    };
    try {
      const response = await fetch("/verify-prompt", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(formData),
      })
      const verification = await response.json();
      const result = JSON.stringify(verification.message);
      const temp = JSON.stringify(verification);
      // Check for "Invalid Prompt" and "Missing Data" errors
      if (!response.ok) {
        throw new Error(`HTTP ${response.status} Message:${result}`);
      }
      // Successful prompt submission
      document.getElementById("result").textContent = temp.prompt;
      e.target.reset();
    }
    catch (error) {
      console.error(error);
      // Extract and display error message
      const resultPrefix = "Message:\"";
      const errorDisplay = error.message.slice(error.message.indexOf(resultPrefix) + resultPrefix.length, -1);
      document.getElementById("result").textContent = errorDisplay;
    }
  })
</script>
{% endblock %}