{% extends "base.html" %}

{% block header %}Prompt Form{% endblock %}

{% block content %}
<section>
  <h2>List of Valid Prompts</h2>
  <ul id="prompt_list">
    {% for prompt, prompt_details in valid_prompts.items() %}
    <li>
      {{ prompt }}
      <ul>
        <li>Situation: {{ prompt_details[0].title() }}</li>
        <li>Level: {{ prompt_details[1].title() }}</li>
        <li>File type: {{ prompt_details[2].title() }}</li>
      </ul>
    </li>
    {% endfor %}
  </ul>
</section>
<!-- Not using required keyword for this exercise's testing api purposes -->
<!-- Would also use select elements instead of text input for practical usage -->
<form id="prompt_form" method="POST">
  <label for="situation">Situation<p class="form_required">*</p></label>
  <input id="situation" class="prompt_input" name="situation" />
  <label for="level">Level<p class="form_required">*</p></label>
  <input id="level" class="prompt_input" name="level" />
  <label for="file_type">File Type<p class="form_required">*</p></label>
  <input id="file_type" class="prompt_input" name="file_type" />
  <label for="data">Data</label>
  <input id="data" class="prompt_input" name="data" />
  <button type="submit">Submit Prompt</button>
  <p id="result"></p>
</form>

<script>
  const result = document.getElementById("result");
  document.getElementById("prompt_form").addEventListener("submit", async (e) => {
    e.preventDefault();
    // Although form data can be passed using FormData object, 
    // "data" could be any type in usage (unspecified in description)
    const formData = {
      "situation": e.target.situation.value,
      "level": e.target.level.value,
      "file_type": e.target.file_type.value,
      "data": e.target.data.value,
    };
    try {
      const response = await fetch("/verify-prompt", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(formData),
      })
      const verification = await response.json();
      // Check for "Invalid Prompt" and "Missing Data" errors
      if (!response.ok) {
        throw new Error(`HTTP ${response.status} Message:${verification.message}`);
      }
      // Show user message for successful prompt submission
      displayResult("rgb(203, 240, 202)", "rgb(58, 138, 57)", `${verification.prompt} submitted`);
      e.target.reset();
    }
    catch (error) {
      console.error(error);
      // Extract and display error message
      const resultPrefix = "Message:";
      const errorDisplay = error.message.slice(error.message.indexOf(resultPrefix) + resultPrefix.length);
      // In practice, would clarify "Missing Data" to refer to fields and not the "Data" field
      displayResult("rgb(240, 202, 202)", "rgb(138, 57, 57)", errorDisplay);
    }
  })

  function displayResult(backgroundColor, borderColor, text) {
    result.style.display = "block";
    result.style.backgroundColor = backgroundColor;
    result.style.borderColor = borderColor;
    result.textContent = text;
  }
</script>
{% endblock %}